body {
  font-family: "Poppins", sans-serif;
  background-image: url("https://images.unsplash.com/photo-1592210454359-9043f067919b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=wolfgang-hasselmann-bR_-gllg7Bs-unsplash.jpg&w=2400");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.App {
  height: 100vh;
}
