/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5e6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293b;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.nav {
  background-color: #e3e3e3;
}
.navTitle {
  display: flex;
  width: 100%;
  font-size: 30px;
  color: #23293b;
  font-family: "Russo One", sans-serif;
  justify-content: center;
  padding: 20px 0px 10px 0px;
}
.navMenu {
  display: flex;
  color: #203f5a;
  justify-content: center;
}
.navMenu div {
  display: inline-block;
  font-size: 18px;
  font-weight: 100;
  margin: 0px 15px 15px 15px;
}
.navMenu div:hover {
  cursor: pointer;
}
@media (max-width: 500px) {
  .navTitle {
    width: 100%;
  }
  .navMenu div {
    font-size: 12px;
    margin: 5px 5px 15px 5px;
  }
}
footer {
  color: #22283b;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  footer {
    margin: 0px 10px 5px 10px;
  }
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .banner {
  border-radius: 10px;
  margin-top: 10px;
}
.home .music-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .music-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
.home .musica-nueva {
  padding: 15px;
}
.home .musica-nueva h3 {
  margin-top: 11px;
}
.home .musica-nueva p {
  margin-top: 13px;
}
.home .actual {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
.home .actual .actual-text {
  width: 50%;
}
.home .actual .actual-text h3 {
  margin-bottom: 10px;
}
.home .actual .actual-text p {
  margin-bottom: 26px;
}
.home .actual .actual-text .btn {
  color: #ffff;
  background-color: #23293b;
  font-size: 1.6rem;
  padding: 10px;
  width: fit-content;
  border-radius: 7px;
}
.home .actual .actual-text .btn:hover {
  cursor: pointer;
}
.home .actual .actual-img {
  width: 46%;
  margin-left: 4%;
}
.home .actual .actual-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .tecnologia {
    display: none;
  }
  .ondas {
    display: none;
  }
  .home .banner {
    padding: 0px 10px 0px 10px;
    width: 100%;
    border-radius: 20px;
  }
  .home .music-images img {
    width: 100%;
  }
  .home .actual {
    flex-direction: column-reverse;
    padding: 0px;
    margin-top: 20px;
  }
  .home .actual .actual-text {
    width: 100%;
    padding: 15px;
  }
  .home .actual .actual-text .btn {
    color: #ffff;
    background-color: #23293b;
    font-size: 1.6rem;
    padding: 20px;
    width: 100%;
    border-radius: 7px;
    text-align: center;
  }
  .home .actual .actual-img {
    width: auto;
    height: auto;
    margin: 0px;
    padding: 10px;
  }
}
